<h3>Cart</h3>

<p>
    <a routerLink="/shipping">Shipping Prices</a>
  </p>
<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price }}</span>
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div>
        <label for="name">
          Your name
        </label>
        <input id="name" type="text" formControlName="name" placeholder="Type your name">
      </div>

      <div>
        <label for="address">
          Address
        </label>
        <input id="address" type="text" formControlName="address" placeholder="Type your address">
      </div>

      <div>
        <label for="phone">
          Phone
        </label>
        <input id="phone" type="text" formControlName="phone" placeholder="Type your phone">
      </div>

      <button class="btn btn-success" type="submit">Purchase</button><br><br>
</form>
