   div.polaroid { а
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
  }
  .product-detail {
    text-align: center;
    border: 1px blueviolet;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0px 10px 20px 10px;
    width: 33.3%; 
    min-width: 300px;
  }
  
  
   .products {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } 
