<app-top-bar></app-top-bar>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<button class="btn_lo"(click)="logout()">Logout</button>
<div *ngIf="!logged" class="wrapper fadeInDown">
  <h1 id="logf">Login Form</h1>
  <div id="formContent">
    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="username">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="password">
      <button class="btn btn-outline-primary" (click)="login()">Login</button>
    </form>
  </div>
</div>

<div class="wrapper" *ngIf="logged">
  <router-outlet>
    </router-outlet>

</div>



<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
