.btn_lo{
  position: relative;
  background-color: #1976d2;
  color: white;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
  bottom: 400px;
  left: 1550px;

}


h1{
  position: relative;
  left: 300px;


}
