<h1 style="color: blue;text-align: center;">Products</h1>
<hr>
  <div class="products">
    <div class="product-detail" *ngFor="let product of products">
      <div class="polaroid">

        <img src= {{product.pict}} width=150 height=200>
      <h4>

        <a class="pr_n" [routerLink]="'/products/'+product.id" [title]="product.name  + 'details'" >
          {{ product.name }}{{ product.authorofbook }}
        </a>

      </h4>

        <button id="wa_f" (click)="sharetowhatsapp(product)"><img src="https://cdn.worldvectorlogo.com/logos/whatsapp-symbol.svg" width="50" height="35">
          Share to WhatsApp
        </button>

        <button id="tg_f" (click)="sharetotelegram(product)"><img src="https://cdn.worldvectorlogo.com/logos/telegram-1.svg" width="50" height="35">
          Share to Telegram
        </button>

        <button id="like_but" (click)="likeButtonClick()"><img src="https://avatanplus.com/files/resources/original/5eab1514d6099171cc4a598d.png" width="40" height="35">
          Likes {{numberOfLikes}}
        </button>
      <app-product-alerts
      [product]="product"
      (notify)="onNotify()">
    </app-product-alerts>
      </div>

    </div>
    <div><button routerLink="" type="button" class="btn btn-outline-secondary">Go back</button></div>
  </div>

