 div.polaroid {
  width: 70%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.product-detail {
  text-align: left;
  border: 1px blueviolet;
  border-radius: 3px;
  margin-bottom: 50px;
  padding: 15px 10px 10px 15px;
  width: 33.3%;
  min-width: 300px;
}


 .products {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



 #wa_f{
   position: relative;
   left:150px;
   bottom: 10px;
   background-color: green;
   display: inline-flex;
   align-items: center;
   padding: 8px 16px;
   border-radius: 2px;
   font-size: 14px;
   cursor: pointer;
   color: white;
   border: none;
 }
 #tg_f{
   position: relative;
   left:150px;
   bottom: 10px;
   background-color: dodgerblue;
   display: inline-flex;
   align-items: center;
   padding: 8px 16px;
   border-radius: 2px;
   font-size: 14px;
   cursor: pointer;
   color: white;
   border: none;
 }

 #like_but{
   position: relative;
   left:150px;
   bottom: 10px;
   background-color: #616161;
   display: inline-flex;
   align-items: center;
   padding: 8px 16px;
   border-radius: 2px;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
   color: white;
   border: none;
 }

.pr_n{
  font-size: 15px;
  font-weight: bolder;
  position: relative;
  left: 10px;
  display: inline-block;
  flex-direction: column;
}


 .btn_lo{
   position: relative;
   left: 300px;
 }





